[Desktop Entry]
Name=COSMIC Terminal
Comment=Terminal emulator for the COSMIC desktop
Exec=cosmic-term
Terminal=false
Type=Application
StartupNotify=true
Icon=com.lingmoos.LingmoTerm
Categories=COSMIC;System;TerminalEmulator;
Keywords=Command;Shell;Terminal;CLI;
